.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.5);
	top: 0;
	left: 0;
	display: none;
}
.popup.open {
	display: block;
}
.popop__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	background: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
}
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	cursor: pointer;
}
.popup__title {
	font-size: 40px;
	margin: 0 0 1em 0;
}
.popup__text {
}
